body {
  margin: 0;
  padding: 0;
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to right, #155d27, #25a244);

  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
}

.top-bar {
  display: flex;
  gap: 10px;
  align-items: center;

  min-width: 1600px;
}

.logo {
  margin-left: 15px;
  margin-right: 15px;
}

.header-nav {
  display: flex;

  justify-content: right;
  align-items: center;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

.header-nav li {
  margin: 0 15px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px 8px;
}

.login_button a {
  max-width: fit-content;
  min-height: fit-content;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 7px 10px;
  text-decoration: none;
}

.header-nav a:hover {
  background-color: #007200;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.search {
  display: flex;
  flex: 1;
  padding: 5px 10px;
  background: #b7efc5;
  border-radius: 15px;

  outline: none;
  border: none;
  align-items: center;
}

.search-input {
  font-size: 16px;
  flex-grow: 1;
  border: none;
  background: none;
  outline: none;
  color: #155d27;
}

.search-input::placeholder {
  color: #155d27;
}

.hero {
  display: flex;
  justify-content: center;
  min-width: 1300px;
  margin-top: 100px;
  gap: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
}

.hero-text h1 {
  font-family: "Monomakh", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 120px;
  background: linear-gradient(to right, #155d27, #4ad66d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hero-text h2 {
  font-size: 25px;
  background: none;
  background-clip: text;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.shop-now-button {
  background-color: #155d27;
  align-self: center;
  margin-top: 50px;
  color: white;
  border: none;
  width: max-content;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 30px;
  margin-top: 40px;
  text-decoration: none;
}

.shop-now-button:hover {
  background-color: #007200;
  transition: background-color 0.2s ease;
}

.hero-image {
  display: flex;
  flex-direction: row;
  height: 750px;
  width: 750px;
  justify-content: right;
}

.New-and-noteworthy {
  background: #fefae0;
  margin-top: 100px;
  text-align: left;
  min-width: 1400px;
  border-width: 5px;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: max-content;
  padding: 20px;
  overflow: hidden;
}

.New-and-noteworthy h2 {
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.New-and-noteworthy-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.New-and-noteworthy-container h3,
p {
  font-size: 20px;
  display: flex;
  justify-content: left;
  margin: 0 15px;
  margin-top: 10px;
}

.New-and-noteworthy-container img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  max-width: 400px;

  object-fit: cover;
  border-radius: 20px;
  margin: 0 15px;
}

.New-and-noteworthy-container img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.Categories {
  background: #fefae0;
  margin-top: 100px;
  text-align: left;
  min-width: 1400px;
  border-width: 5px;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: max-content;
  padding: 20px;
  overflow: hidden;
}

.Categories h2 {
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.Categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.Categories-container h3,
p {
  font-size: 20px;
  display: flex;
  justify-content: left;
  margin: 0 15px;
  margin-top: 10px;
}

.Categories-container img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  max-width: 400px;

  object-fit: cover;
  border-radius: 20px;
  margin: 0 15px;
}

.Categories-container img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
